/* Styles for Main Page */

/* HEADER */
header h1 {

}

/* BACKGROUND */
body {
    background-color: darkgrey;
}

/* PIECES CONTAINERS */


/* GAMEBOARD */
.game-container {
    border: ;
}

.game-board {
    border: 2px solid red;
}

